@model OnlineFoodOrderingSystem.Models.Users.Admin.AppAdmin 
@{
    ViewData["Title"] = "CREATE Customer";
}
 
<div class="auth-form">
    <h1>Sign Up</h1>
    <hr/>
    <div asp-validation-summary="All" class="text-danger"></div>

    <form method="post" asp-controller="Account" asp-action="CreateCustomer">
        <div class="auth-input">
            <input asp-for="Name" class="form-control" placeholder="First name"/>
            <input asp-for="Email" class="form-control" placeholder="E-mail address"/>
            <input asp-for="Password" class="form-control" placeholder="Password" type="password"/>
            <button type="submit" class="btn btn-primary">Create</button>
        </div>
    </form>
    <p>Already have an account? <a asp-area="" asp-controller="Home" asp-action="Index">Log in!</a></p>
</div>