@model OnlineFoodOrderingSystem.Models.Identity.Login
@{
    ViewData["ReturnUrl"] = "returnUrl";
}



<div class="auth-form">
    <h1>Login</h1>
    <hr />
    <div class="text-danger" asp-validation-summary="All"></div>
    <form asp-action="Index" method="post" asp-controller="Home">
        <input type="hidden" asp-for="ReturnUrl" />
        <div class="auth-input">
            <input asp-for="Email" class="form-control" placeholder="E-mail address"/>
            <input asp-for="Password" class="form-control" placeholder="Password" type="password"/>
            <button class="btn btn-primary" type="submit">Log In</button>
        </div>
    </form>
    <p>Don't have an account? <a asp-area="" asp-controller="Account" asp-action="CreateCustomer">Create one!</a></p>
</div>
