@model OnlineFoodOrderingSystem.Models.Users.Customer.Customer

@{
    ViewData["Title"] = "Login";
}

<h1>Login</h1>

<form>
    <div class="form-group">
        <label asp-for="Email" class="control-label"></label>
        <input asp-for="Email" class="form-control" />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>

    <div class="form-group mb-3">
        <label asp-for="Password" class="control-label"></label>
        <input asp-for="Password" class="form-control" type="password" />
        <span asp-validation-for="Password" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary">Login</button>
    <a asp-action="Update" class="btn btn-secondary">Update Information</a>
</form>

<p>Don't have an account? <a asp-area="" asp-controller="Customer" asp-action="Create">Create one!</a></p>