@model OnlineFoodOrderingSystem.Models.Users.Customer.Customer
@{
    ViewData["Title"] = "Thank You";
}

<h2>Thank You for Registering!</h2>

<p>Dear Customer @Model.FirstName,</p>
<p>Thank you for registering with our Online Food Ordering System. We are excited to have you on board.</p>
<p>If you have any questions or need assistance, please feel free to contact our support team.</p>

<p>Happy Ordering!</p>

<p>Best Regards,</p>
<p>The Online Food Ordering System Team</p>